<div class="row">
  <div class="col-lg-8 col-md-10 mx-auto" *ngIf="!supported">
    <p style="text-align: center;">{{ userID }} 후원</p>
    <form [formGroup]="supportForm" (ngSubmit)="onSubmit()">
      <div class="control-group">
        <label>후원 금액</label>
        <div class="form-group floating-label-form-group controls">
          <input type="number" class="form-control" required formControlName="money" />
        </div>
      </div>

      <div class="control-group">
        <label>남기는 말</label>
        <div class="form-group floating-label-form-group controls">
          <textarea rows="5" class="form-control" placeholder="Message" required formControlName="message"></textarea>
        </div>
      </div>

      <br />

      <div class="form-group">
        <button type="submit" class="btn btn-primary">확인</button>
      </div>
    </form>
  </div>

  <div class="col-lg-8 col-md-10 mx-auto" *ngIf="supported">
    <div *ngIf="supportResult.success">
      <p>
        결제가 완료되었습니다.
      </p>
      <p>결제 금액 : {{ supportResult.paid_amount }}</p>
      <p>카드 승인번호 : {{ supportResult.apply_num }}</p>
    </div>

    <div *ngIf="!supportResult.success">
      <p>
        결제에 실패하였습니다.
      </p>
      <p>에러 내용 : {{ supportResult.error_msg }}</p>
    </div>
    <button class="btn btn-primary" (click)="onGoHome()">확인</button>
  </div>
</div>
