<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-10 mx-auto">
      <div class="_3FdjES4vvG0L2eHDCb-x96 second">
        <div class="_2qowEcs-iC4SN2dFRLdjFO"></div>
        <div class="content">
          <h1>도전!!<br />새로운 기회</h1>
          <h3>혼자 하는 것이 아닌<br />같이 나아가는 것</h3>
        </div>
      </div>

      <div class="_3FdjES4vvG0L2eHDCb-x96 third">
        <span class="_2zBPFWbPbPyn1IphRBe96E"><img src="https://static.wanted.co.kr/images/newintro/dot.png" alt=""/></span>
        <div class="_16ZDoj7hSa6EXJYN-Xuohu"></div>
        <div class="content">
          <h1>IT를 사랑하는 사람들과<br />함께하는 발전</h1>
          <h3>이야기를 듣고 공유하며<br />함께 성장하는 자신을 발견합니다.</h3>
        </div>
      </div>

      <div class="_3FdjES4vvG0L2eHDCb-x96 fourth">
        <span class="_2zBPFWbPbPyn1IphRBe96E"><img src="https://static.wanted.co.kr/images/newintro/dot.png" alt=""/></span>
        <div class="_3VHCNw1-2tgbjb1sYgQPwh"></div>
        <div class="content">
          <h1>모두와<br />만드는 행복</h1>
          <h3>발견된 버그와 이슈 그리고 해결방안에 참여하고,<br />일상 속 여유를 즐기기도 합니다.</h3>
        </div>
      </div>
    </div>
  </div>
</div>
