<div *ngIf="(post$ | async)?.show === 'true'">
  <div class="row" *ngIf="loading">
    <div class="col-12 text-center">
      <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div class="row" *ngIf="!loading">
    <div class="col-lg-8 col-md-10 mx-auto">
      <h1 [textContent]="(post$ | async)?.title" #title></h1>

      <div class="post-content" [innerHTML]="(post$ | async)?.content | safeHtml" #content></div>

      <p style="color: grey; text-align: center" (click)="onlike()">
        <i mat-button class="report_button" style="font-size: 14px;">좋아요 {{ (postLike$ | async)?.items.length }}</i>
      </p>

      <p style="color: grey; text-align: center" class="post-meta">
        <i>작성자 </i>
        <i><a href="#" style="color: grey; text-decoration: none" [textContent]="(post$ | async)?.userID"></a></i>
      </p>

      <div style="text-align: right;">
        <a mat-button (click)="onPostReport()" class="report_button">신고하기</a>
      </div>
    </div>
  </div>

  <div class="clearfix text-center mx-auto" *ngIf="currentUser !== null && (post$ | async)?.userID === currentUser">
    <a (click)="onEditPost()" class="btn btn-light pointer" style="margin-right: 14px;"> 수정 </a>
    <a (click)="onDeletePost()" class="btn btn-light pointer"> 삭제 </a>
  </div>

  <!-- <div class="clearfix text-center mx-auto pdf_down_btn" *ngIf="currentUser !== null && (post$ | async)?.userID === currentUser">
    <input type="button" value="Download PDF" class="btn btn-light" (click)="onSavePDF()" />
  </div> -->

  <div class="clearfix text-center mx-auto pdf_down_btn" *ngIf="currentUser !== null">
    <input type="button" value="후원하기" class="btn btn-light" (click)="onsupport()" />
  </div>

  <div *ngIf="!loading">
    <app-comment-write></app-comment-write>
    <app-comment-list></app-comment-list>
  </div>
</div>

<div *ngIf="(post$ | async)?.show === 'false'" class="noti_wrap">
  <p>
    신고가 접수되어 관리자가 글을 가렸습니다.
  </p>

  <button routerLink="/contact" class="btn btn-light pointer">문의하기</button>
</div>
