.report_button {
  cursor: pointer;
  color: gray;
  font-size: 12px;
}

.noti_wrap {
  text-align: center;
}

.pdf_down_btn {
  margin-top: 15px;
}
.pdf_down_btn input {
  padding: 15px 21px;
}

.post-content {
  margin-top: 2rem;
}
