<div class="row">
  <div class="col-lg-8 col-md-10 mx-auto">
    <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
      <div class="control-group">
        <div class="form-group">
          <label>댓글:</label>
        </div>
        <div class="form-group" style="display: flex">
          <textarea
            class="form-control"
            formControlName="comment"
            placeholder="바르고 고운말만 입력해주세요 :)"
            (focusin)="onFocusIn()"
            (focusout)="onFocusOut()"
            [ngClass]="{ invalid: submitted && form.comment.errors }"
          >
          </textarea>
          <input type="submit" value="확인" />
        </div>
      </div>
    </form>
  </div>
</div>
